table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 8px;
  margin-top: 15px;
}

table th,
table td {
  padding: 10px 14px;
  background: #f7f7f7;
  border-radius: 8px;
  text-align: left;
}