.skill-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 15px;
  background: #ffe8f5;
  border: 2px solid #d28ccf;
  border-radius: 10px;
}

.skill-table th {
  background: #f4c8e4;
  padding: 12px;
  border: 1px solid #d28ccf;
}

.skill-table td {
  background: #fff0fa;
  padding: 10px;
  border: 1px solid #d28ccf;
}

ul.chips {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}