* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}


.body-home {
  background-image: url('wallpaper.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.body-about {
  background: linear-gradient(to right, #ffb3e0, #ffd6eb, #c7d9ff);
}
header {
  text-align: center;
  margin-top: 20px;
}

.profile-img {
  width: 200px;
  border-radius: 100%;
  box-shadow: 0 0 20px hotpink;
}

.main-title {
  background: pink;
  padding: 15px;
  border-radius: 10px;
  width: 70%;
  margin: 15px auto;
  box-shadow: 0 0 10px hotpink;
}

nav {
  background: white;
  padding: 12px;
  width: 70%;
  margin: auto;
  border-radius: 10px;
  box-shadow: 0 0 10px #ff88c2;
}

nav a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  margin: 0 6px;
}

.social img {
  width: 55px;
  height: 55px;
  border-radius: 10px;
}

/* ===== SECTION ===== */
section {
  background: white;
  width: 70%;
  margin: 20px auto;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 0 15px #ff7eb3;
}

.section-box {
  background: #ffe6f2;
  padding: 15px;
  border-radius: 10px;
  width: 70%;
  margin: 20px auto;
  box-shadow: 0 0 10px #ff9ccc;
}

.section-box-alt {
  background: #fff0f6;
  padding: 15px;
  border-radius: 10px;
  width: 70%;
  margin: 20px auto;
  box-shadow: 0 0 10px #ffb3d9;
}

/* ===== TEXT ===== */
.fade-in {
  opacity: 0;
  transition: 1.5s;
}

ul {
  list-style-type: square;
  text-align: left;
  margin-left: 25%;
}

/* ===== BUTTON ===== */
button {
  padding: 8px 14px;
  background: #e6418b;
  color: white;
  border: none;
  border-radius: 8px;
  margin-top: 10px;
  cursor: pointer;
}

button:hover {
  opacity: 0.85;
}

footer p {
  background: white;
  padding: 10px;
  width: 80%;
  margin: auto;
  border-radius: 10px;
  box-shadow: 0 0 10px hotpink;
}


